.app__cont--pagAgregar {
    width: 100%;
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cont--pagAgregar__titulo { margin-top: 100px }
.cont--pagAgregar__form { margin-top: 40px }