* { 
    box-sizing: border-box }

body {
    margin: 0px;
    height: 100vh;
    background-color: rgb(30, 30, 30)
}

.header {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25)
}

.header__boton {
    border-bottom: 1px solid #8b5582;
    height: 100%;
    line-height: 2.9;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    color: white;
}

.footer {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25)
}